<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.first_name, post.user %></span>
  <span class="content">
    <%= post.title %>
    <%= image_tag(post.photo.url, alt: 'Image') if post.photo?%>
  </span>
  <% if current_user?(post.user) %>
      <div class="dropdown">
        <button class="dropbtn">More</button>
        <div class="dropdown-content">
          <div class="delete_post">
            <%= link_to "Delete photo", post, method: :delete,
                                        data: { confirm: "You sure?" } %>
          </div>
          <div class="edit_post">
            <%= link_to "Edit photo", post, method: :edit %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </div>
    <ul>
    <%= render 'shared/comment_form', post: post %>
    <%= render(partial: 'comments/comment', collection: post.comments) %>
    </ul>
</li>